/**/build/
/.gradle/
/.idea/
/**/*.iml
/**/*.ipr
/**/*.iws
/distro/
/stuff/work/
/stuff/examples/counters/logs/
/stuff/examples/z80/logs/
/**/*.sym_layout
/**/fp-info-cache
/**/*.kicad_pcb
/**/*.kicad_pro
/**/*.kicad_prl
/stuff/examples/counters/counters-backups/
/stuff/examples/counters/counters.xml
/**/*.lck
/gradle.log
