/.gradle/
/.idea/
/gradle.log
/**/*.iml
/**/*.ipr
/**/*.iws
/**/build/
/**/logs/
/**/*.lck
/distro/
/stuff/work/
/stuff/examples/**/*.sym_layout
/stuff/examples/**/fp-info-cache
/stuff/examples/**/*.kicad_pcb
/stuff/examples/**/*.kicad_pro
/stuff/examples/**/*.kicad_prl
/stuff/examples/**/#auto_saved_files#
/stuff/examples/counters/counters.xml
/stuff/examples/switch/switch.xml
/stuff/examples/trs80/TRS80I.xml
/stuff/examples/trs80/*.bin
/.profileconfig.json
/**/optimised/
/**/#auto_saved_files#
_autosave-*.kicad_sch
*.sym_oscill
